@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --red: #EF2E2E;
    --blue: #075dad;
    --green: #2CBC4E;
  }

html{
    font-size: 62.5%;
    font-family: 'lato', Tahoma, Verdana, sans-serif;
}
li a{
    text-decoration: none;
}
.serif{
    font-family: 'Playfair Display',Georgia,serif !important;
}
p,a{
    font-size: 1.6rem;
    color: #666;
}
.dnone{
    display: none !important;
}
h2.heading{
    display: inline-block;
    font-size: 3.5rem;
    text-transform: uppercase;
    margin-bottom: 4rem;
    color: #222;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        bottom: -8px;
        right: 50%;
        height: 0.8rem;
        width: 70%;
        background-color: rgba(0,0,0,0.5);
        transform: translateX(50%);
    }
}
h2.subheader-head{
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 800;
    color: white;
}
p.subheader-txt{
    color: white;
    margin-top: 1rem;
    width: 50%;
}
section{
    padding: 4rem 0;
}
.wrapper{
    width: 90%;
    margin: 0 auto;
}
.btn{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 1.4rem;
    padding: 6px 10px;
    background-color: var(--red);
    transition: 0.3s;
    border: 2px solid var(--red);
}
.btn:hover{
    color: var(--red);
    background-color: transparent;
    border: 2px solid var(--red);
}
a.see-all{
    display: inline-block;
    margin-top: 2.5rem;
    padding: 5px 8px;
    border: 1px solid #666;
    font-size: 1.4rem;
    transition: 0.3s;
    text-decoration: none;
    &:hover{
        background-color: #666;
        color: white;
    }
}
.brdr-2{
    border: 2px solid white;
    border-bottom: 0;
}
.sm-show{
    display: none;
}
.nowrap{
    white-space: nowrap;
}

.logo-bar{
    .wrapper{
        padding: 1rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img{
            height: 5rem;
        }
        .address-bar{
            display: flex;
            align-items: center;
            .top-address{
                margin-right: 5rem;
                display: flex;
                align-items: center;
                svg{
                    margin-right: 1.3rem;
                    height: 2.5rem;
                }
                p{
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    font-weight: 700;
                }
            }
            .top-phone{
                display: flex;
                align-items: center;
                img{
                    margin-right: 1rem;
                    height: 2.5rem;
                }
                p{
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    font-weight: 700;
                }
            }
        }
    }
}

nav{
    position: absolute;
    top: 73px;
    left: 0;
    width: 100%;
    background-color:#075dad98;
    z-index: 10;
    .wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0;
        .scroll-logo-link{
            display: none;
        }
        .scroll-logo-link.float{
            display: block;
            .scroll-logo{
                position: absolute;
                top: 0;
                left: 5%;
                height: 10rem;
                padding: 1rem 2.5rem;
                background-color: white;
                object-fit: contain !important;
            }
        }
        .left-links{
            a{
                color: white;
                margin-right: 1.5rem;
                svg{
                    fill:white;
                    height: 2rem;
                    margin-bottom: -5px;
                }
                &:last-child{
                    svg{
                        height: 2.5rem;
                        margin-bottom: -8px;
                    }
                }
            }
        }
        .menu{
            display: flex;
            align-items: center;
            list-style-type: none;
            li{
                margin-right: 2rem;
                &:last-child{
                    margin-right: 0;
                }
                a{
                    padding: 1rem 0;
                    color: white;
                    text-transform: uppercase;
                    position: relative;
                    transition: 0.3s;
                    &::after{
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left:0;
                        width: 100%;
                        height: 2px;
                        background-color: white;
                        opacity: 0;
                        transition: 0.3s;
                    }
                    &.active::after{
                        opacity: 1;
                    }
                    &:hover::after{
                        opacity: 1;
                    }
                }
            }
            .dropdown{
                position: relative;
                cursor: pointer;
                white-space: nowrap;
                &:hover .submenu{
                    visibility: visible;
                    opacity: 1;
                    top: 3rem;
                }
                .submenu{
                    position: absolute;
                    background-color: white;
                    top: 2rem;
                    right: 0;
                    visibility: hidden;
                    opacity: 0;
                    transition: 0.3s;
                    padding: 1.5rem 0;
                    a{
                        display: block;
                        padding: 1rem 2rem;
                        color: #222;
                        white-space: nowrap;
                        transition:0.3s ;
                        &:hover{
                            background-color: #eee;
                        }
                    }
                }
            }
        }
    }
}
nav.fixed{
    position: fixed !important;
    top:0;
    left: 0;
    width: 100%;
    background-color: #075dadee;
    padding: 1rem 0;
    transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.745);
}

.hero{
    height: calc(100vh - 73px);
    background-repeat:no-repeat !important ;
    background-size: cover !important;
    position: relative;
    picture{
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
        z-index: -1 !important;
        img{
            width: 100% !important;
            height: 100% !important;
            object-fit: cover !important;
            object-position: top !important;
        }
        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, rgba(0,0,0,0.8) 20%, rgba(0,0,0,0.2))
        }
    }
    .wrapper{
        height: 100%;
        position: relative;
    }
    .hero-content{
        position: absolute;
        color: white;
        top: 50%;
        left: 0;
        width: 100%;
        transform: translateY(-50%);
        h1{
            font-size: 6rem;
        }
        .textAnime .letter {
            display: inline-block;
            // line-height: 1em;
        }
        h3{
            font-size: 3.3rem;
            font-weight: 500;
        }
        p{
            width: 350px;
            color:white;
            margin: 2rem 0 3.5rem;
            font-size: 1.8rem;
        }
        .btn{
            font-size: 1.6rem;
            font-weight: 400;
            padding: 1rem 1.8rem;
        }
    }
}

.courses{
    .wrapper{
        margin-top: -15rem;
        display: flex;
        justify-content: space-between;
        .course{
            flex-basis: 29%;
            img{
                width: 100%;
                height: 20rem;
                object-fit: cover !important;
                object-position:center !important;
                margin-bottom: -2px;
            }
            .text{
                color: white;
                background-color: var(--red);
                padding: 4rem 2rem;
                text-transform: uppercase;
                font-weight: 600;
                text-align: center;
                p{
                    color: white;
                    margin-bottom: 20px;
                }
            }
            &:first-child{
                // margin-left: 4rem;
                .text{
                    background-color: var(--green);
                    .btn{
                        background-color: var(--green);
                        border: 1px solid white;
                        &:hover{
                            background-color: white;
                            color: var(--green);
                        }
                    }
                }
            }
            &:nth-child(2){
                .text .btn{
                    background-color: var(--red);
                    border: 1px solid white;
                    &:hover{
                        background-color: white;
                        color: var(--red);
                    }
                }
            }
            &:last-child{
                // margin-right: 4rem;
                .text{
                    background-color: var(--blue);
                    .btn{
                        background-color: var(--blue);
                        border: 1px solid white;
                        &:hover{
                            background-color: white;
                            color: var(--blue);
                        }
                    }
                }
            }
        }
    }
}

.floater{
    padding: 0 0 5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .left{
        flex-basis: 68%;
        .ach {
            padding: 4rem 0 4rem 8%;
            background:#f5f5f5;
            marquee{
                .achiever{
                    display: inline-block !important;
                    margin-right: 2.5rem;
                    text-align: center;
                    img{
                        height: 18rem;
                        width: 18rem;
                        object-fit: contain !important;
                        background-color: #efefef;
                    }
                    p{
                        color: #222;
                        padding: 0 5px;
                        text-align: center;
                    }
                    .aname{
                        font-weight: 600;
                        color: black;
                        padding: 5px 0 3px;
                        font-size: 1.7rem;
                    }
                }
                margin-right: 1.5rem;
            }
            a{
              text-decoration: none;  
            }
        }
        .features{
            background-position: center !important;
            background-size: cover !important;
            padding: 4rem 0 3rem 8%;
            color: white;
            h2{
                color: white;
                margin-bottom: 5rem;
                &:after{
                    background-color: #ffffffaa;
                }
            }
            .features-container{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                .feature{
                    flex-basis: 30.5%;
                    display: flex;
                    align-items: center;
                    margin-bottom: 4rem;
                    margin-right: 2rem;
                    svg{
                        height: 4rem;
                        fill: white;
                        margin-right: 1.5rem;
                    }
                    span{
                        font-size: 1.8rem;

                    }
                }
            }
        }
        .gallery{
            padding: 4rem 0 4rem 8%;
            background:#f5f5f5;
            .imgs{
                .top-imgs{
                    display: flex;
                    a{
                        flex-basis: 31%;
                        margin-right: 1rem;
                        height: 20rem;
                        img{
                            height: 100%;
                            width: 100%;
                            object-fit: cover !important;
                            object-position: center !important;
                        }
                    }
                }
                .bottom-imgs{
                    margin-top: 1rem;
                    display: flex;
                    a{
                        flex-basis: 31%;
                        height: 20rem;
                        img{
                            height: 100%;
                            width: 100%;
                            object-fit: cover !important;
                            object-position: center !important;
                        }
                    }
                    a.landscape{
                        flex-basis: calc(62% + 1rem);
                        margin-right: 1rem;
                    }
                }

            }
        }
    }
    aside{
        position: sticky;
        top: 5.5rem;
        right: 0;
        flex-basis: 26%;
        margin-right: 5%;
        .news, .notice{
            background-color: #f5f5f5;
            padding: 1rem 1.5rem;
            h4{
                text-align: center;
                color: white;
                font-size: 1.6rem;
                background-color: #111;
                padding: 0.8rem 2rem;
                margin-bottom: 1rem;
                svg{
                    height: 1.5rem;
                    margin-bottom: -2px;
                    fill:white;
                }
            }
            .news-block{
                margin: 0;
                padding: 0;
                line-height: initial;
                text-decoration:none ;
                display: flex;
                align-items: flex-start;
                img{
                    margin-right: 1rem;
                    height: 7rem;
                    width: 7rem;
                    object-fit: contain !important;
                    object-position: top !important;
                }
                .news-txt{
                    flex:1;
                    p{
                        color: black;
                        font-size: 1.4rem;
                    }
                    small{
                        color:#333333;
                        font-style: italic;
                        font-size: 1.2rem;
                    }
                }
                &:hover{
                    text-decoration: underline;
                }
            }
            ol{
                margin-left: 1.5rem;
                li{
                    margin-bottom: 1rem;
                    font-size: 1.4rem;
                    a{ 
                        font-size: 1.4rem;
                        color: black;
                        transition: 0.3s;
                        &:hover{
                            text-decoration: underline #999;
                        }
                        
                        small{
                            color:#333333;
                            font-style: italic;
                            font-size: 1.2rem;
                        }
                    }
                }
            }
            .see-all{
                text-decoration: none;
                margin-top: 0rem;
            }
        }
        .notice{
            margin: 1rem 0 1.5rem;
            h4 svg{
                height: 2rem;
                margin-bottom: -3px;
                transform: scaleX(-1);;
            }
        }
        .tc{
            display: block;
            text-align: center;
            padding: 8px;
            background-color: white;
            color: #333;;
            border: 1px solid #111;
            transition: 0.3s;
            text-decoration: none;
            &:hover{
                background-color: #111;
                color: white
            }
            svg{
                height: 1.5rem;
                fill: #222;
                margin-right: 0.5rem;
                margin-bottom: -2px;
            }
        }
    }
}

.vid{
   display: flex;
   justify-content: space-between;
   .vid-container{
        flex-basis: 49.5%;
        height: 35rem;
        position: relative;
        cursor: pointer;
        &:hover .overlay .content svg{
            transform: scale(0.8);
        }
        video{
            width: 100%;
            height: 100%;
            object-position: center !important;
            object-fit: contain !important;
            background-color: #ddd;
            outline: none;
        }
        .overlay{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #00000055;
            .content{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50% , -50%);
                text-align: center;
                svg{
                    fill: white;
                    height: 10rem;
                    margin-bottom: 1rem;
                    transition: 0.3s;
                }
                p{ 
                    color: white;
                }
            }

        }
    }
   a{
       color: white;
       flex-basis: 49.5%;
       background-position: center !important;
       background-repeat: no-repeat !important;
       background-size: cover !important;
       text-align: center;
       position: relative;
       .content{
           position: absolute;
           top: 50%;
           left: 50%;
           transform: translate(-50% , -50%);
           svg{
               fill: white;
               height: 12rem;
               transition: 0.3s;
               margin-top: -15px;
           }
       }
       &:hover .content svg{
           transform: scale(0.8);
       }
   }

}

.tstms{
    .wrapper{
        h2{
            margin-bottom: 2.5rem;
        }
        .tstm-container{
            margin-top: 4rem;
            .owl-stage{
                padding-left: 1rem !important;
                display:flex;
            }
            .owl-item{
                display:flex;
                flex: 1 0 auto;
            }
            .tstm{
                margin: 0.5rem 0;
                box-shadow: 0 6px 15px #00000033;
                padding: 4rem 3rem;
                position: relative;
                #quote{
                    position: absolute;
                    height: 3rem;
                    right: 3rem;
                    top: 2rem;
                    fill:#999;
                }
                .rating{
                    svg{
                        height: 1.8rem;
                    }
                }
                .dialouge{
                    margin: 1.5rem 0 0.8rem;
                    font-style: italic;
                    color: black;
                }
                .name{
                    text-transform: uppercase;
                    font-size: 1.4rem;
                    color: black !important;
                    font-weight: 600;
                }
            }
            .owl-nav{
                margin-top: 1.5rem;
                margin-left: 1rem;
                .owl-prev, .owl-next{
                    font-size: 1.6rem;
                    padding: 7px 10px 4px;
                    background-color: var(--blue);
                    border-radius: 0;
                    color: white;
                    outline: none;
                    transition: 0.3s;
                    &:hover{
                        opacity: 0.9;
                    }
                }
                .owl-prev{
                    margin-right: 1rem;
                }
            }
        }
    }
}

.contact{
    background-position: center !important;
    background-size: cover !important;
    h2.heading{
        color: white;
        &::after{
            background-color: #ffffffee;
            height: 0.6rem;
        }
    }
    .content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        form{
            margin-top: 4rem;
            flex-basis:60%;
            .form-group{
                margin-bottom: 3rem;
                input, textarea{
                    width: 70%;
                    border: none;
                    border-bottom:1px solid white;
                    background-color: transparent;
                    padding: 8px 5px;
                    color: white;
                    font-size: 1.6rem;
                    font-family: 'lato',sans-serif;
                }
                label{
                    font-size: 1.4rem;
                    color: #eee;
                }
            }
            button{
                margin-top: 2rem;
                cursor: pointer;
                outline: none;
            }
        }
        .map-social{
            flex-basis: 35%;
            iframe{
                width: 100%;
                height: 25rem;
            }
            .social-links{
                h3{
                    color: white;
                    margin: 3rem 0 1.5rem;
                    font-size: 1.6rem;
                    text-transform: uppercase;
                }
                a{
                    color: white;
                    margin-right: 2rem;
                    svg{
                        fill: white;
                        height: 2.5rem;
                        transition: 0.3s;
                    }
                    &:last-child svg{
                        height: 3.2rem;
                        margin-bottom: -3px;
                    }
                }
                
                a.fblink:hover svg{
                    
                    fill: rgb(29, 98, 248);
                }
                a.instalink:hover svg{
                    fill: rgb(233, 36, 95);
                }
                a.ytlink:hover svg{
                    fill: #d00000;
                }
            }
        }
    }
}

footer{
    p, span, a, h4{
        color: #222;
    }
    .ufooter{
        background-color: #eee;
        padding: 3rem 5%;
        display: flex;
        justify-content: space-between;
        svg{
            height: 2.2rem;
            margin-right: 0.5rem;
            fill: #222;
        }
        .footer-head{
            display: flex;
            align-items: center;
            margin-bottom: 0.8rem;
            h4{
                font-size: 1.6rem;
                text-transform: uppercase;
            }
        }
        .emblem{
            flex-basis: 30%;
            img{
                height: 15rem;
            }
            .address{
                margin-top: 2rem;
            }
        }
        .info{
            flex-basis: 30%;
            // align-self: flex-end;
            .footer-contact{
                margin: 3rem 0;
            }
        }
        .newsletter{
            flex-basis: 30%;
            .sign-up{
                margin-bottom: 2.5rem;
                form{
                    width: 100%;
                    .field{
                        margin-top: 1rem;
                        display: flex;
                        z-index: -1;
                        input{
                            flex: 1;
                            padding: 1.2rem 0.8rem;
                            border: none;
                            font-size: 1.4rem;
                            z-index: 1;
                        }
                        button{
                            padding: 0 1.2rem;
                            border: none;
                            font-size: 1.4rem;
                            background-color: var(--blue);
                            outline: none;
                            cursor: pointer !important;
                            svg{
                                transform: scaleX(-1);
                                height: 2.5rem;
                                margin-bottom: -5px;
                                fill: white;
                            }
                        }
                    }
                }
            }
            .quick-links{
                .links{
                    display: flex;
                    flex-wrap: wrap;
                    p{
                        flex-basis: 30.5%;
                        margin-right: 1rem;
                        margin-bottom: 1rem;
                        a{
                            text-decoration: none;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
    .lfooter{
        padding: 1rem 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        .powered{
            a{
                text-decoration: none;
                position: relative;
                transition: 0.2s;
                &::after {
                    content: '';
                    position: absolute;
                    top:0.6rem;
                    right: -0.8rem;
                    width: 0.6rem;
                    height: 0.6rem;
                    transition: 0.2s;
                    background: linear-gradient(45deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 50%);
                }
                &:hover{
                    color: lime;
                }
                &:hover::after{
                    background: linear-gradient(45deg, rgba(0, 0, 0, 0) 50%, lime 50%);
                    transform:scale(1.3) translate(2px , -2px);
                }
            }
        }
    }
}

.subheader{
    margin-top:0px;
    background-size:cover  !important;
    background-position: center !important;
    .wrapper{
        padding: 10rem 0;
        h2{
            font-size: 5rem;
        }
    }
}

.intro{
    .wrapper .content{
        display: flex;
        align-items: flex-start;
        img{
            width: 50rem;
            height: 30rem;
            object-fit: cover !important;
            object-position: center !important;
        }
        .txt{
            margin-left: 5rem;
            flex: 1;
            p{
                // font-size: 1.8rem;
                color: #222;
            }
            #moreBtn{
                margin-top: 1rem;
                border: 0;
                background-color: #eee;
                padding: 5px;
                transition: 0.2s;
                cursor: pointer;
                outline: none;
                color: #555;
                &:hover{
                    background-color: #e0e0e0;
                    color: black;
                }
            }
        }
    }
}

.pmv{
    .wrapper{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .card{
            background-color: var(--blue);
            padding: 3rem 2rem;
            flex-basis: 100%;
            display: flex;
            align-items: center;
            .sign{
                padding-right: 2rem;
                text-align: center;
                svg{
                    fill: white;
                    height: 6rem;
                    margin-bottom: 1.5rem;
                }
                h3{
                    font-size: 2.5rem;
                    color: white;
                    font-weight: 600;
                }
            }
            p{
                padding: 2rem 0;
                padding-left: 2rem;
                border-left: 1px solid #ffffff66;
                font-size: 1.8rem;
                color: white;
            }
            &:nth-child(1){
                margin-bottom: 2rem;
            }
            &:nth-child(2){
                background-color: #ddd;
                flex-basis: 49%;
                svg, h3 , p{
                    color: black;
                    fill: black;
                }
                p{
                    border-left: 1px solid #00000044;
                }
            }
            &:nth-child(3){
                background-color: #ddd;
                flex-basis: 49%;
                svg, h3 , p{
                    color: black;
                    fill: black;
                }
                p{
                    border-left: 1px solid #00000044;
                }
            }
        }
    }
}

.founder {
    background-color: #f8f8f8;
    .wrapper{
        display: flex;
        align-items: center;
        .founder-img{
            text-align: center;
            img{
                width: 25rem;
                height: 15rem;
                object-fit: contain !important;
            }
            .fname{
                font-size: 2rem;
                margin: 2rem 0 0.8rem;
                color: #111;
            }
            small{
                font-style: italic;
                font-size: 1.6rem;
                color: #222;
            }
        }
        .founder-note{
            h4{
                font-size: 2.2rem;
                color: #111;
                margin-bottom: 1.5rem;
            }
            p{
                color: #222;
            }
        }
    }
}

.quality{
    .wrapper{
        .qps{
            margin-top: 2rem;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .qp{
                background-color: #eee;
                padding: 2rem 1rem;
                flex-basis: 49%;
                margin-bottom: 2rem;
                p{
                    color: #222;
                }
                p:last-child{
                    margin-top: 0.6rem;
                }
            }
        }
    }
}

.admission{
    .wrapper{
        .reg-adm{
            margin-bottom: 2rem;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            h3{
                font-size:2rem ;
                margin-bottom: 1rem;
            }
            .reg{
                flex-basis: 49%;
                margin-bottom: 2rem;
            }
            .adm{
            flex-basis: 49%;
            }
        }
        .tbl{
            margin-bottom: 2rem;
            table{
                width: 100%;
                border-collapse: collapse;
                th,td{
                    font-size: 1.6rem;
                    border: 1px solid #dddddd;
                    text-align: left;
                    padding: 0.8rem;
                }
                thead{
                    background-color: #eee;
                }
            }
        }
        .curr, .curr2, .sess, .fee, .concession{
            h3{
                font-size:2rem ;
                margin-bottom: 1rem;
            }
            margin-bottom: 2rem;
        } 
    }
}

.legal{
    .wrapper{
        .legal-div{
            h3{
                font-size:2rem ;
                margin-bottom: 1rem;
            }
            ol{
                li{
                    margin-bottom: 0.5rem;
                    margin-left: 1.8rem;
                    font-size: 1.6rem;
                    color: #555;
                    &:first-child{
                        margin-top: 0.8rem;
                    }
                }
            }
            margin-bottom: 2rem;
        }
    }
}

.album{
    .wrapper{
        display: flex;
        flex-wrap: wrap;
        a{
            flex-basis:22% ;
            margin:2rem  1.5rem;
            height: 20rem;
            position: relative;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover !important;
                object-position: center !important;
            }
            .caption{
                position: absolute;
                bottom: 0; left: 0;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #000000aa;
                color: white;
                font-size: 1.8rem;
                font-weight: 600;
                padding: 1rem;
                transition: 0.3s;
            }
            &:hover .caption{
                padding: 2rem 1rem;
            }
        }
    }
}

.media{
    .wrapper{
        display: flex;
        flex-wrap: wrap;
        a{
            flex-basis:22% ;
            margin:2rem  1.5rem;
            height: 20rem;
            position: relative;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover !important;
                object-position: center !important;
            }
            .caption{
                position: absolute;
                top: 0; left: 0;
                width: 100%; height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #000000aa;
                color: white;
                font-size: 1.8rem;
                font-weight: 600;
                padding: 1rem;
                visibility:hidden ;
                opacity: 0;
                transition: 0.3s;
            }
            &:hover .caption{
                visibility:visible ;
                opacity: 1;
            }
        }
    }
}

.tc-page{
    .wrapper{
        h3{
            font-size: 2.2rem;
            color: #222;
            margin-bottom: 2rem;
        }
        table{
            width: 100%;
            border-collapse: collapse;
            th,td{
                font-size: 1.6rem;
                border: 1px solid #dddddd;
                text-align: left;
                padding: 0.8rem;
            }
            thead{
                background-color: #eee;
            }
            svg{
                height: 3rem;
                transition: 0.3s;
                .svg-arrow {
                    transition: 0.3s;
                    transform: translateY(-50px);
                }
                &:hover .svg-arrow{
                    transform: translateY(20px);
                }
            }
        }
    }
}

.fac{
    padding-bottom: 0;
    .wrapper{
        display: flex;
        align-items: center;
        .content{
            font-size: 1.6rem;
            color: #555;
            flex:1;
            h3{
                font-size: 2.2rem;
                color: #222;
                margin-bottom: 1rem;
            }
            ol{
                li{
                    margin-left: 1.8rem;
                    font-size: 1.6rem;
                    color: #555;
                    margin-bottom: 0.5rem;
                    &:first-child{
                        margin-top: 0.8rem;
                    }
                    &:last-child{
                        margin-bottom: 1.5rem;
                    }                }
            }
        }
        img{
            flex-basis: 30%;
            background-color: #eee;
            height: 30rem;
            object-fit: contain;
            margin-left: 3rem;
        }
    }
    &:nth-of-type(even){
        .wrapper{
            flex-direction: row-reverse;
            img{
                margin-left: 0;
                margin-right: 3rem;
            }
        }
    }
}

.contact2{
    .wrapper{
        h2{
            color: black;
            &:after{
                background-color: #000000aa;
            }
        }
        .content{
            align-items: center;
            form{
                margin-top: 0;
                flex-basis: 43%;
                .form-group{
                    input, textarea{
                        width: 100%;
                        color:black;
                        border-bottom: 1px solid black;
                    }
                    label{
                        color: #222 ;
                    }
                }
                .remarker{
                    margin-bottom: 0;
                }
            }
            .social2{
                background-color: var(--blue);
                padding: 4rem 3rem;
                flex-basis: 44%;
                .flexer{
                    display: flex;
                    justify-content: space-between;
                    .address{
                        margin-bottom: 3.5rem;
                    }
                    .footer-contact{
                        margin-bottom: 7rem;
                    }
                }
                .ss2{
                    margin-bottom: 3rem;
                    svg{
                        height: 2.2rem;
                        margin-right: 0.5rem;
                        fill: white;
                    }
                    .footer-head{
                        display: flex;
                        align-items: center;
                        margin-bottom: 0.8rem;
                        h4{
                            font-size: 1.6rem;
                            text-transform: uppercase;
                            color: white;
                        }
                    }
                    p{
                        color: white;
                    }
                }
            }
        }
    }
}

.privacy{
    .wrapper{
        h2{
            font-size: 3rem;
            margin: 2.5rem 0 1.5rem;
            color: #222;
        }
        ul{
            margin-left: 2rem;
            li{
                color: #555;
                font-size: 1.6rem;
            }
        }
    }
}

.all-news{
    .wrapper{
        border: 1px solid #aaa;
        // padding: 2rem 0;
        .news-txt{
            padding: 2rem 3rem;
            a{
                display: inline-block;
                color: black;
                text-decoration: none;
                margin-bottom: 1rem;
                transition: 0.3s;
                &:hover{
                    text-decoration: underline #666;
                }
            }
            small{
                font-size: 1.4rem;
                color: #555;
            }
            &:nth-of-type(odd){
                background-color: #f6f6f6;
            }
        }
    }
}

.back-link{
    display: inline-block;
    margin: 3rem 0 0 5%;
    color: #222;
    padding: 1rem 2rem;
    border: 1px solid #555;
    transition: 0.3s;
    cursor: pointer;
    &:hover{
        padding: 1rem 2rem 1rem 1rem;
    }
}


@media(max-width:780px){
    p.subheader-txt{
        color: white;
        width: 70%;
    }
    .logo-bar .wrapper{
        justify-content: center;
        .address-bar{
            display: none;
        }
    }

    .floater{
        flex-direction: column;
        .left{
            .ach{
                padding: 4rem 5%;
            }
            marquee{
                margin-right: 0;
            } 
            .features{
                padding: 4rem 5%;
                .features-container{
                    .feature{
                        flex-basis: 29%;
                    }
                }
            }
            .gallery{
                padding: 4rem 5%;
            }
        }
        aside{
            position: static;
            margin: 0 5%;
            margin-top: 4rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .news{
                flex-basis: 49%;
            }
            .notice{
                flex-basis: 49%;
                margin: 0;
            }
            .tc{
                display: inline-block;
                flex-basis: 60%;
                margin-top: 2rem;
            }
        }
    }

    footer .ufooter{
        flex-wrap: wrap;
        .emblem{
            flex-basis: 49%;
            margin-bottom: 3rem;
            order: 1;
        }
        .info{
            flex-basis: 49%;
            order: 3;
        }
        .newsletter{
            order: 2;
        }
    }

    .intro .wrapper .content{
        flex-direction: column;
        img{
            margin-bottom: 2rem;
        }
        .txt{
            margin-left: 0;
        }
    }

    .pmv .wrapper{
        .card{
            flex-basis: 100% !important;
        }
        .mission{
            margin-bottom: 2rem;
        }
    }
    
}

@media(max-width:600px){
    html{
        font-size: 59%;
    }
    .sm-show{
        display: initial;
    }
    .sm-hide{
        display: none;
    }

    nav {
        top: 69px;
        .wrapper{
            width: 100%;
            padding-left: 5%;
            overflow-x: auto;
            .left-links{
                display: none;
            }
            .scroll-logo-link, .scroll-logo{
                display: none;
            }
            &::after{
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                height: 100%;
                width: 5rem;
                pointer-events: none;
                background: linear-gradient(to left,rgba(255,255,255,0.4) 2%,rgba(255,255,255,0.1) 85%,rgba(255,255,255,0));
            }
            .menu{
                li{
                    margin-right: 3rem;
                }
                li:last-child{
                    margin-right: 6rem;
                }
            }
        }
    }
    nav ::-webkit-scrollbar {
        height: 1rem;
        opacity:0.5;
    }
    nav ::-webkit-scrollbar-track {
        background: #eeeeee88;
    } 
    nav ::-webkit-scrollbar-thumb {
        background: #ccccccaa;
        transition: 0.3s;
    }
    nav ::-webkit-scrollbar-thumb:hover {
        background: #aaa;
    }
    .hero{
        height: calc(100vh - 69px);
    }

    nav.fixed{
        position: fixed !important;
        top:69px;
        left: 0;
        width: 100%;
        background-color: #075dadee;
        padding: 1rem 0;
        transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.745);
    }

    .logo-bar.fix-bar{
        background-color: white;
        position: fixed !important;
        top:0;
        left: 0;
        width: 100%;
        z-index: 3;
        transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.745);
    }

    .courses{
        .wrapper{
            margin-top:0;
            flex-direction: column;
            .course{
                flex-basis: 100%;
                margin-bottom: 5rem;
                box-shadow: 0 8px 10px rgba(0,0,0,0.2);
                p{
                    font-size: 1.8rem;
                }
                animation-delay: 0s !important;
            }
        }
    }

    .floater{
        flex-direction: column;
        .left{
            .features{
                .features-container{
                    .feature{
                        flex-basis: 44%;
                    }
                }
            }
            .gallery{
            }
        }
    }

    .vid{
        flex-direction: column;
        .vid-container{
            margin-bottom: 3rem;
            height: 30rem;
        }
        a.mag-container{
            min-height: 30rem;
        }
        
    }

    .founder .wrapper{
        flex-direction: column;
        align-items: flex-start;
        .founder-img{
            text-align: left;
            margin-bottom: 2rem;
            img{
                width: 15rem;
                object-fit: contain;
            }
        }
    }

    .quality{
        background-color: #f8f8f8;
        .wrapper{
            .qps{
                .qp{
                    flex-basis: 100%;
                }
            }
        }
    }

    .admission{
        .wrapper{
            .reg-adm{
                .reg{
                    flex-basis: 100%;
                    margin-bottom: 2rem;
                }
                .adm{
                    flex-basis: 100%;
                }
            }
            .tbl{
                table{
                    display: block;
                    overflow-x: auto;
                    white-space: nowrap;
                }
            }
        }
    }

    .tc-page{
        table{
            display: block;
            overflow-x: auto;
            white-space: nowrap;
        }
    }

    .fac .wrapper{
        flex-direction: column !important;
        align-items: center;
        img{
            margin: 1.5rem 0 !important;
            flex-basis: 100% !important;
            width: auto !important;
            min-height: 20rem !important;
            object-fit: contain !important;
        }
    }

    .contact2 .wrapper{
        width: 90%;
        .content{
            form{
                flex-basis: 100%;
                .form-group{
                    width: 100%;
                    input, textarea{
                        width: 100%;
                    }
                }
                .remarker{
                    margin-bottom: 0;
                }
    
            }
        }

    } 
    .social2{
        display: none;
    }

}

@media(max-width:480px){
    html{
        font-size: 50%;
    }
    p.subheader-txt{
        width: 100%;
    }
    nav ::-webkit-scrollbar {
       display: none;
    }
    nav{
        top: 59px;
    }
    nav.fixed{
        top:59px;
    }

    .hero{
        height: calc(100vh - 59px);
        .hero-content{
            text-align: center;
            p{
                width: 80%;
                margin-left:auto;
                margin-right:auto;
            }
        }
    }

    .floater{
        flex-direction: column;
        .left{
            .features{
                .features-container{
                    .feature{
                        flex-basis: 44%;
                        margin:0 1rem 4rem;
                        &:nth-of-type(even){
                            justify-content: flex-end;
                        }
                    }
                }
            }
            .gallery{
                .imgs{
                    .top-imgs{
                        flex-wrap: wrap;
                        justify-content: space-between;
                        a{
                            margin: 0 0 2rem 0;
                            flex-basis: 48%;
                            &:last-child{
                                flex-basis: 100%;;
                            }
                        }
                    }
                    .bottom-imgs{
                        justify-content: space-between;
                        margin-top: 0;
                        a{
                            flex-basis: 48%;
                        }
                        a.landscape{
                            flex-basis: 48%;
                        }
                    }
                }
            }
        }
        aside{
            .news , .notice{
                padding: 2rem;
                flex-basis: 100%;
                ol li, ol li a {
                    font-size: 1.6rem;
                }
            }
            .notice{
                margin-top: 2rem;
            }
            .tc-container, a.tc{
                flex-basis: 100%;
                display: block;
                width: 100%;
            }
        }
    }

    .vid{
        .vid-container{
            height: 25rem;
        }
        a.mag-container{
            min-height: 25rem;
        }
        
    }

    .tstms .wrapper{
        width: 100%;
        h2{
            margin-left: 5%;
        }
        .subhead{
            margin-left: 5%;
        }
        .tstm-container{
            .owl-stage{
                padding-left: 0px !important;
            }
            .owl-nav{
                display: none;
            }
        }
    }

    .contact .content{
        flex-direction: column;
        form{
            margin-bottom: 5rem;
            width: 100%;
            .form-group{
                width: 100%;
                input, textarea{
                    width: 100%;
                }
            }
            .remarker{
                margin-bottom: 0;
            }
        }
        .map-social{
            width: 100%;
        }
    }

    footer {
        .ufooter{
            flex-wrap: wrap;
            // text-align: center;
            .footer-head{
                // justify-content: center;
            }
            .emblem{
                flex-basis: 100%;
                margin-bottom: 3rem;
                order: 1;
            }
            .info{
                flex-basis: 100%;
                order: 2;
            }
            .newsletter{
                margin-top: 3rem;
                flex-basis: 100%;
                order: 2;
                .sign-up form .field input{
                    font-size: 1.8rem;
                }
                .quick-links{
                    margin-top: 3rem;
                    .footer-head{
                        margin-bottom: 2rem;
                    }
                }
            }
        }
        .lfooter{
            padding: 2rem 5%;
            // justify-content: center;
            // text-align: center;
            .powered{
                margin-top: 2rem;
            }
        }
    }

    .intro .wrapper .content{
        flex-direction: column;
        img{
            width: 100%;
        }
    }

    .media , .album{
        .wrapper{
            justify-content: space-between;
            flex-wrap: wrap;
            a{
                margin: 0;
                margin-bottom: 2rem;
                flex-basis: 48%;
            }
        } 
    }


}

