@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
*, *::after, *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --red: #EF2E2E;
  --blue: #075dad;
  --green: #2CBC4E;
}

html {
  font-size: 62.5%;
  font-family: 'lato', Tahoma, Verdana, sans-serif;
}

li a {
  text-decoration: none;
}

.serif {
  font-family: 'Playfair Display',Georgia,serif !important;
}

p, a {
  font-size: 1.6rem;
  color: #666;
}

.dnone {
  display: none !important;
}

h2.heading {
  display: inline-block;
  font-size: 3.5rem;
  text-transform: uppercase;
  margin-bottom: 4rem;
  color: #222;
  position: relative;
}

h2.heading::after {
  content: '';
  position: absolute;
  bottom: -8px;
  right: 50%;
  height: 0.8rem;
  width: 70%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

h2.subheader-head {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 800;
  color: white;
}

p.subheader-txt {
  color: white;
  margin-top: 1rem;
  width: 50%;
}

section {
  padding: 4rem 0;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.btn {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 1.4rem;
  padding: 6px 10px;
  background-color: var(--red);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 2px solid var(--red);
}

.btn:hover {
  color: var(--red);
  background-color: transparent;
  border: 2px solid var(--red);
}

a.see-all {
  display: inline-block;
  margin-top: 2.5rem;
  padding: 5px 8px;
  border: 1px solid #666;
  font-size: 1.4rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
}

a.see-all:hover {
  background-color: #666;
  color: white;
}

.brdr-2 {
  border: 2px solid white;
  border-bottom: 0;
}

.sm-show {
  display: none;
}

.nowrap {
  white-space: nowrap;
}

.pagination_wrapper{
  width: 90%;
  margin: 3rem auto 0;
  display: flex;
  flex-wrap: wrap;
}
.pagination_wrapper p{
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.pagination_wrapper .pagination{
  list-style-type: none;
  display: flex;
}

.pagination_wrapper .pagination li{
  margin-right: 1.5rem;
}

.pagination_wrapper .pagination li a{
  color: #075dad;
  border: 1px solid #075dad;
  background-color: transparent;
  padding: 0.8rem 1.2rem;
  transition: 0.2s;
}

.pagination_wrapper .pagination li.active a{
  background-color: #075dad;
  color: white;
}

.pagination_wrapper .pagination li a:hover{
  color: white;
  border: 1px solid #075dad;
  background-color: #075dad;
}
.logo-bar{
  z-index: 30;
}
.logo-bar .wrapper {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-bar .wrapper img {
  height: 5rem;
}

.logo-bar .wrapper .address-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-bar .wrapper .address-bar .top-address {
  margin-right: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-bar .wrapper .address-bar .top-address svg {
  margin-right: 1.3rem;
  height: 2.5rem;
}

.logo-bar .wrapper .address-bar .top-address p {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
}

.logo-bar .wrapper .address-bar .top-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-bar .wrapper .address-bar .top-phone img {
  margin-right: 1rem;
  height: 2.5rem;
}

.logo-bar .wrapper .address-bar .top-phone p {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
}

nav {
  position: absolute;
  top: 73px;
  left: 0;
  width: 100%;
  background-color: #075dad98;
  z-index: 10;
}

nav .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0;
}

nav .wrapper .scroll-logo-link {
  display: none;
}

nav .wrapper .scroll-logo-link.float {
  display: block;
}

nav .wrapper .scroll-logo-link.float .scroll-logo {
  position: absolute;
  top: 0;
  left: 5%;
  height: 10rem;
  padding: 1rem 2.5rem;
  background-color: white;
  -o-object-fit: contain !important;
     object-fit: contain !important;
}

nav .wrapper .left-links a {
  color: white;
  margin-right: 1.5rem;
}

nav .wrapper .left-links a svg {
  fill: white;
  height: 2rem;
  margin-bottom: -5px;
}

nav .wrapper .left-links a:last-child svg {
  height: 2.5rem;
  margin-bottom: -8px;
}

nav .wrapper .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

nav .wrapper .menu li {
  margin-right: 2rem;
}

nav .wrapper .menu li:last-child {
  margin-right: 0;
}

nav .wrapper .menu li a {
  padding: 1rem 0;
  color: white;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .wrapper .menu li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .wrapper .menu li a.active::after {
  opacity: 1;
}


nav .wrapper .menu li a:hover::after {
  opacity: 1;
}

nav .wrapper .menu .dropdown {
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}

nav .wrapper .menu .dropdown:hover .submenu {
  visibility: visible;
  opacity: 1;
  top: 3rem;
}

nav .wrapper .menu .dropdown .submenu {
  position: absolute;
  background-color: white;
  top: 2rem;
  right: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 1.5rem 0;
}

nav .wrapper .menu .dropdown .submenu a {
  display: block;
  padding: 1rem 2rem;
  color: #222;
  white-space: nowrap;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .wrapper .menu .dropdown .submenu a:hover {
  background-color: #eee;
}

nav.fixed {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #075dadee;
  padding: 1rem 0;
  -webkit-transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.745);
  transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.745);
}

.hero {
  height: calc(100vh - 73px);
  background-repeat: no-repeat !important;
  background-size: cover !important;
  position: relative;
}

.hero picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: -1 !important;
}

.hero img {
  width: 100% !important;
  height: 100% !important;
  -o-object-fit: cover !important;
     object-fit: cover !important;
  -o-object-position: top !important;
     object-position: top !important;
}

.hero picture::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.2)));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.2));
}

.hero .wrapper {
  height: 100%;
  position: relative;
}

.hero .hero-content {
  position: absolute;
  color: white;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.hero .hero-content h1 {
  font-size: 6rem;
}

.hero .hero-content .textAnime .letter {
  display: inline-block;
}

.hero .hero-content h3 {
  font-size: 3.3rem;
  font-weight: 500;
}

.hero .hero-content p {
  width: 350px;
  color: white;
  margin: 2rem 0 3.5rem;
  font-size: 1.8rem;
}

.hero .hero-content .btn {
  font-size: 1.6rem;
  font-weight: 400;
  padding: 1rem 1.8rem;
}

.courses .wrapper {
  /* margin-top: -15rem; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.courses .wrapper .course {
  -ms-flex-preferred-size: 29%;
      flex-basis: 29%;
}

.courses .wrapper .course img {
  width: 100%;
  height: 20rem;
  -o-object-fit: cover !important;
     object-fit: cover !important;
  -o-object-position: center !important;
     object-position: center !important;
  margin-bottom: -2px;
}

.courses .wrapper .course .text {
  color: white;
  background-color: var(--red);
  padding: 4rem 2rem;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}

.courses .wrapper .course .text p {
  color: white;
  margin-bottom: 20px;
}

.courses .wrapper .course:first-child .text {
  background-color: var(--green);
}

.courses .wrapper .course:first-child .text .btn {
  background-color: var(--green);
  border: 1px solid white;
}

.courses .wrapper .course:first-child .text .btn:hover {
  background-color: white;
  color: var(--green);
}

.courses .wrapper .course:nth-child(2) .text .btn {
  background-color: var(--red);
  border: 1px solid white;
}

.courses .wrapper .course:nth-child(2) .text .btn:hover {
  background-color: white;
  color: var(--red);
}

.courses .wrapper .course:last-child .text {
  background-color: var(--blue);
}

.courses .wrapper .course:last-child .text .btn {
  background-color: var(--blue);
  border: 1px solid white;
}

.courses .wrapper .course:last-child .text .btn:hover {
  background-color: white;
  color: var(--blue);
}

.floater {
  padding: 0 0 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.floater .left {
  -ms-flex-preferred-size: 68%;
      flex-basis: 68%;
}

.floater .left .ach {
  padding: 4rem 0 4rem 8%;
  background: #f5f5f5;
}

.floater .left .ach marquee {
  margin-right: 1.5rem;
}

.floater .left .ach marquee .achiever {
  display: inline-block !important;
  margin-right: 2.5rem;
  text-align: center;
}

.floater .left .ach marquee .achiever img {
  height: 18rem;
  width: 18rem;
  -o-object-fit: contain !important;
     object-fit: contain !important;
  background-color: #efefef;
}

.floater .left .ach marquee .achiever p {
  color: #222;
  padding: 0 5px;
  text-align: center;
}

.floater .left .ach marquee .achiever .aname {
  font-weight: 600;
  color: black;
  padding: 5px 0 3px;
  font-size: 1.7rem;
}

.floater .left .ach a {
  text-decoration: none;
}

.floater .left .features {
  background-position: center !important;
  background-size: cover !important;
  padding: 4rem 0 3rem 8%;
  color: white;
  position: relative;
  z-index: 0;
}
.floater .left .features::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #064580dd;
  z-index: -1;
}

.floater .left .features h2 {
  color: white;
  margin-bottom: 5rem;
  z-index: 1;
}

.floater .left .features h2:after {
  background-color: #ffffffaa;
  z-index: 1;
}

.floater .left .features .features-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      z-index: 2;
}

.floater .left .features .features-container .feature {
  -ms-flex-preferred-size: 30.5%;
      flex-basis: 30.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4rem;
  margin-right: 2rem;
}

.floater .left .features .features-container .feature svg {
  height: 4rem;
  fill: white;
  margin-right: 1.5rem;
}

.floater .left .features .features-container .feature span {
  font-size: 1.8rem;
}

.floater .left .gallery {
  padding: 4rem 0 4rem 8%;
  background: #f5f5f5;
}

.floater .left .gallery .imgs .top-imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.floater .left .gallery .imgs .top-imgs a {
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
  margin-right: 1rem;
  height: 20rem;
}

.floater .left .gallery .imgs .top-imgs a img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover !important;
     object-fit: cover !important;
  -o-object-position: center !important;
     object-position: center !important;
}

.floater .left .gallery .imgs .bottom-imgs {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.floater .left .gallery .imgs .bottom-imgs a {
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
  height: 20rem;
}

.floater .left .gallery .imgs .bottom-imgs a img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover !important;
     object-fit: cover !important;
  -o-object-position: center !important;
     object-position: center !important;
}

.floater .left .gallery .imgs .bottom-imgs a.landscape {
  -ms-flex-preferred-size: calc(62% + 1rem);
      flex-basis: calc(62% + 1rem);
  margin-right: 1rem;
}

.floater aside {
  position: -webkit-sticky;
  position: sticky;
  top: 5.5rem;
  right: 0;
  -ms-flex-preferred-size: 26%;
      flex-basis: 26%;
  margin-right: 5%;
}

.floater aside .news, .floater aside .notice {
  background-color: #f5f5f5;
  padding: 1rem 1.5rem;
}

.floater aside .news h4, .floater aside .notice h4 {
  text-align: center;
  color: white;
  font-size: 1.6rem;
  background-color: #111;
  padding: 0.8rem 2rem;
  margin-bottom: 1rem;
}

.floater aside .news h4 svg, .floater aside .notice h4 svg {
  height: 1.5rem;
  margin-bottom: -2px;
  fill: white;
}

.floater aside .news .news-block, .floater aside .notice .news-block {
  margin: 0;
  padding: 0;
  line-height: initial;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.floater aside .news .news-block img, .floater aside .notice .news-block img {
  margin-right: 1rem;
  height: 7rem;
  width: 7rem;
  -o-object-fit: contain !important;
     object-fit: contain !important;
  -o-object-position: top !important;
     object-position: top !important;
}

.floater aside .news .news-block .news-txt, .floater aside .notice .news-block .news-txt {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.floater aside .news .news-block .news-txt p, .floater aside .notice .news-block .news-txt p {
  color: black;
  font-size: 1.4rem;
}

.floater aside .news .news-block .news-txt small, .floater aside .notice .news-block .news-txt small {
  color: #333333;
  font-style: italic;
  font-size: 1.2rem;
}

.floater aside .news .news-block:hover, .floater aside .notice .news-block:hover {
  text-decoration: underline;
}

.floater aside .news ul, .floater aside .notice ul {
  margin-left: 1.8rem;
}

.floater aside .news ul li, .floater aside .notice ul li {
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.floater aside .news ul li a, .floater aside .notice ul li a {
  font-size: 1.4rem;
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.floater aside .news ul li a:hover, .floater aside .notice ul li a:hover {
  -webkit-text-decoration: underline #999;
          text-decoration: underline #999;
}

.floater aside .news ul li a small, .floater aside .notice ul li a small {
  color: #333333;
  font-style: italic;
  font-size: 1.2rem;
}

.floater aside .news .see-all, .floater aside .notice .see-all {
  text-decoration: none;
  margin-top: 0rem;
}
.floater aside .notice .see-all {
  margin-left: -1.5rem
  ;
}

.floater aside .notice {
  margin: 1rem 0 1.5rem;
}

.floater aside .notice h4 svg {
  height: 2rem;
  margin-bottom: -3px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.floater aside .tc {
  display: block;
  text-align: center;
  padding: 8px;
  background-color: white;
  color: #333;
  border: 1px solid #111;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
}

.floater aside .tc:hover {
  background-color: #111;
  color: white;
}

.floater aside .tc svg {
  height: 1.5rem;
  fill: #222;
  margin-right: 0.5rem;
  margin-bottom: -2px;
}

.vid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.vid .vid-container {
  -ms-flex-preferred-size: 49.5%;
      flex-basis: 49.5%;
  height: 35rem;
  position: relative;
  cursor: pointer;
}

.vid .vid-container:hover .overlay .content svg {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.vid .vid-container video {
  width: 100%;
  height: 100%;
  -o-object-position: center !important;
     object-position: center !important;
  -o-object-fit: contain !important;
     object-fit: contain !important;
  background-color: #ddd;
  outline: none;
}

.vid .vid-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000055;
}

.vid .vid-container .overlay .content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.vid .vid-container .overlay .content svg {
  fill: white;
  height: 10rem;
  margin-bottom: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.vid .vid-container .overlay .content p {
  color: white;
}

.vid a {
  color: white;
  -ms-flex-preferred-size: 49.5%;
      flex-basis: 49.5%;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  text-align: center;
  position: relative;
  z-index: 2;
}
.vid a::after {
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000aa;
  z-index: -1;
}

.vid a .content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.vid a .content svg {
  fill: white;
  height: 12rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-top: -15px;
}

.vid a:hover .content svg {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.tstms .wrapper h2 {
  margin-bottom: 2.5rem;
}

.tstms .wrapper .tstm-container {
  margin-top: 4rem;
}

.tstms .wrapper .tstm-container .owl-stage {
  padding-left: 1rem !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tstms .wrapper .tstm-container .owl-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.tstms .wrapper .tstm-container .tstm {
  margin: 0.5rem 0;
  -webkit-box-shadow: 0 6px 15px #00000033;
          box-shadow: 0 6px 15px #00000033;
  padding: 4rem 3rem;
  position: relative;
}

.tstms .wrapper .tstm-container .tstm #quote {
  position: absolute;
  height: 3rem;
  right: 3rem;
  top: 2rem;
  fill: #999;
}

.tstms .wrapper .tstm-container .tstm .rating svg {
  height: 1.8rem;
}

.tstms .wrapper .tstm-container .tstm .dialouge {
  margin: 1.5rem 0 0.8rem;
  font-style: italic;
  color: black;
}

.tstms .wrapper .tstm-container .tstm .name {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: black !important;
  font-weight: 600;
}

.tstms .wrapper .tstm-container .owl-nav {
  margin-top: 1.5rem;
  margin-left: 1rem;
}

.tstms .wrapper .tstm-container .owl-nav .owl-prev, .tstms .wrapper .tstm-container .owl-nav .owl-next {
  font-size: 1.6rem;
  padding: 7px 10px 4px;
  background-color: var(--blue);
  border-radius: 0;
  color: white;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.tstms .wrapper .tstm-container .owl-nav .owl-prev:hover, .tstms .wrapper .tstm-container .owl-nav .owl-next:hover {
  opacity: 0.9;
}

.tstms .wrapper .tstm-container .owl-nav .owl-prev {
  margin-right: 1rem;
}

.contact {
  background-position: center !important;
  background-size: cover !important;
  z-index: 3;
  position: relative;
}
.contact::after{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}
.contact .wrapper{
 z-index: 2;
}

.contact h2.heading {
  color: white;
}

.contact h2.heading::after {
  background-color: #ffffffee;
  height: 0.6rem;
}

.contact .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .content form {
  margin-top: 4rem;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
      z-index: 3;
}

.contact .content form .form-group {
  margin-bottom: 3rem;
}

.contact .content form .form-group input, .contact .content form .form-group textarea {
  width: 70%;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  padding: 8px 5px;
  color: white;
  font-size: 1.6rem;
  font-family: 'lato',sans-serif;
}

.contact .content form .form-group label {
  font-size: 1.4rem;
  color: #eee;
}

.contact .content form button {
  margin-top: 2rem;
  cursor: pointer;
  outline: none;
}

.contact .content .map-social {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}

.contact .content .map-social iframe {
  width: 100%;
  height: 25rem;
}

.contact .content .map-social .social-links h3 {
  color: white;
  margin: 3rem 0 1.5rem;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.contact .content .map-social .social-links a {
  color: white;
  margin-right: 2rem;
}

.contact .content .map-social .social-links a svg {
  fill: white;
  height: 2.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact .content .map-social .social-links a:last-child svg {
  height: 3.2rem;
  margin-bottom: -3px;
}

.contact .content .map-social .social-links a.fblink:hover svg {
  fill: #1d62f8;
}

.contact .content .map-social .social-links a.instalink:hover svg {
  fill: #e9245f;
}

.contact .content .map-social .social-links a.ytlink:hover svg {
  fill: #d00000;
}

footer p, footer span, footer a, footer h4 {
  color: #222;
}

footer .ufooter {
  background-color: #eee;
  padding: 3rem 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .ufooter svg {
  height: 2.2rem;
  margin-right: 0.5rem;
  fill: #222;
}

footer .ufooter .footer-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.8rem;
}

footer .ufooter .footer-head h4 {
  font-size: 1.6rem;
  text-transform: uppercase;
}

footer .ufooter .emblem {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

footer .ufooter .emblem img {
  height: 15rem;
}

footer .ufooter .emblem .address {
  margin-top: 2rem;
}

footer .ufooter .info {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

footer .ufooter .info .footer-contact {
  margin: 3rem 0;
}

footer .ufooter .newsletter {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

footer .ufooter .newsletter .sign-up {
  margin-bottom: 2.5rem;
}

footer .ufooter .newsletter .sign-up form {
  width: 100%;
}

footer .ufooter .newsletter .sign-up form .field {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: -1;
}

footer .ufooter .newsletter .sign-up form .field input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1.2rem 0.8rem;
  border: none;
  font-size: 1.4rem;
  z-index: 1;
}

footer .ufooter .newsletter .sign-up form .field button {
  padding: 0 1.2rem;
  border: none;
  font-size: 1.4rem;
  background-color: var(--blue);
  outline: none;
  cursor: pointer !important;
}

footer .ufooter .newsletter .sign-up form .field button svg {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  height: 2.5rem;
  margin-bottom: -5px;
  fill: white;
}

footer .ufooter .newsletter .quick-links .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .ufooter .newsletter .quick-links .links p {
  -ms-flex-preferred-size: 30.5%;
      flex-basis: 30.5%;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

footer .ufooter .newsletter .quick-links .links p a {
  text-decoration: none;
}

footer .ufooter .newsletter .quick-links .links p a:hover {
  text-decoration: underline;
}

footer .lfooter {
  padding: 1rem 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .lfooter .powered a {
  text-decoration: none;
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

footer .lfooter .powered a::after {
  content: '';
  position: absolute;
  top: 0.6rem;
  right: -0.8rem;
  width: 0.6rem;
  height: 0.6rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 50%);
}

footer .lfooter .powered a:hover {
  color: lime;
}

footer .lfooter .powered a:hover::after {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0) 50%, lime 50%);
  -webkit-transform: scale(1.3) translate(2px, -2px);
          transform: scale(1.3) translate(2px, -2px);
}

.subheader {
  margin-top: 0px;
  background-size: cover  !important;
  background-position: center !important;
}

.subheader .wrapper {
  padding: 10rem 0;
}

.subheader .wrapper h2 {
  font-size: 5rem;
}

.intro .wrapper .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.intro .wrapper .content img {
  width: 50rem;
  height: 30rem;
  -o-object-fit: cover !important;
     object-fit: cover !important;
  -o-object-position: center !important;
     object-position: center !important;
}

.intro .wrapper .content .txt {
  margin-left: 5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.intro .wrapper .content .txt p {
  color: #222;
}

.intro .wrapper .content .txt #moreBtn {
  margin-top: 1rem;
  border: 0;
  background-color: #eee;
  padding: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  outline: none;
  color: #555;
}

.intro .wrapper .content .txt #moreBtn:hover {
  background-color: #e0e0e0;
  color: black;
}

.pmv .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pmv .wrapper .card {
  background-color: var(--blue);
  padding: 3rem 2rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pmv .wrapper .card .sign {
  padding-right: 2rem;
  text-align: center;
}

.pmv .wrapper .card .sign svg {
  fill: white;
  height: 6rem;
  margin-bottom: 1.5rem;
}

.pmv .wrapper .card .sign h3 {
  font-size: 2.5rem;
  color: white;
  font-weight: 600;
}

.pmv .wrapper .card p {
  padding: 2rem 0;
  padding-left: 2rem;
  border-left: 1px solid #ffffff66;
  font-size: 1.8rem;
  color: white;
}

.pmv .wrapper .card:nth-child(1) {
  margin-bottom: 2rem;
}

.pmv .wrapper .card:nth-child(2) {
  background-color: #ddd;
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
}

.pmv .wrapper .card:nth-child(2) svg, .pmv .wrapper .card:nth-child(2) h3, .pmv .wrapper .card:nth-child(2) p {
  color: black;
  fill: black;
}

.pmv .wrapper .card:nth-child(2) p {
  border-left: 1px solid #00000044;
}

.pmv .wrapper .card:nth-child(3) {
  background-color: #ddd;
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
}

.pmv .wrapper .card:nth-child(3) svg, .pmv .wrapper .card:nth-child(3) h3, .pmv .wrapper .card:nth-child(3) p {
  color: black;
  fill: black;
}

.pmv .wrapper .card:nth-child(3) p {
  border-left: 1px solid #00000044;
}

.founder {
  background-color: #f8f8f8;
}

.founder .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.founder .wrapper .founder-img {
  text-align: center;
}

.founder .wrapper .founder-img img {
  width: 25rem;
  height: 15rem;
  -o-object-fit: contain !important;
     object-fit: contain !important;
}

.founder .wrapper .founder-img .fname {
  font-size: 2rem;
  margin: 2rem 0 0.8rem;
  color: #111;
}

.founder .wrapper .founder-img small {
  font-style: italic;
  font-size: 1.6rem;
  color: #222;
}

.founder .wrapper .founder-note h4 {
  font-size: 2.2rem;
  color: #111;
  margin-bottom: 1.5rem;
}

.founder .wrapper .founder-note p {
  color: #222;
}

.quality .wrapper .qps {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.quality .wrapper .qps .qp {
  background-color: #eee;
  padding: 2rem 1rem;
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
  margin-bottom: 2rem;
}

.quality .wrapper .qps .qp p {
  color: #222;
}

.quality .wrapper .qps .qp p:last-child {
  margin-top: 0.6rem;
}

.admission .wrapper .reg-adm {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.admission .wrapper .reg-adm h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.admission .wrapper .reg-adm .reg {
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
  margin-bottom: 2rem;
}

.admission .wrapper .reg-adm .adm {
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
}

.admission .wrapper .tbl {
  margin-bottom: 2rem;
}

.admission .wrapper .tbl table {
  width: 100%;
  border-collapse: collapse;
}

.admission .wrapper .tbl table th, .admission .wrapper .tbl table td {
  font-size: 1.6rem;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 0.8rem;
}

.admission .wrapper .tbl table thead {
  background-color: #eee;
}

.admission .wrapper .curr, .admission .wrapper .curr2, .admission .wrapper .sess, .admission .wrapper .fee, .admission .wrapper .concession {
  margin-bottom: 2rem;
}

.admission .wrapper .curr h3, .admission .wrapper .curr2 h3, .admission .wrapper .sess h3, .admission .wrapper .fee h3, .admission .wrapper .concession h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.legal .wrapper .legal-div {
  margin-bottom: 2rem;
}

.legal .wrapper .legal-div h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.legal .wrapper .legal-div ol li {
  margin-bottom: 0.5rem;
  margin-left: 1.8rem;
  font-size: 1.6rem;
  color: #555;
}

.legal .wrapper .legal-div ol li:first-child {
  margin-top: 0.8rem;
}

.album .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.album .wrapper a {
  -ms-flex-preferred-size: 22%;
      flex-basis: 22%;
  margin: 2rem  1.5rem;
  height: 20rem;
  position: relative;
}

.album .wrapper a img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover !important;
     object-fit: cover !important;
  -o-object-position: center !important;
     object-position: center !important;
}

.album .wrapper a .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000000aa;
  color: white;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.album .wrapper a:hover .caption {
  padding: 2rem 1rem;
}

.media .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.media .wrapper a {
  -ms-flex-preferred-size: 22%;
      flex-basis: 22%;
  margin: 2rem  1.5rem;
  height: 20rem;
  position: relative;
}

.media .wrapper a img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover !important;
     object-fit: cover !important;
  -o-object-position: center !important;
     object-position: center !important;
}

.media .wrapper a .caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000000aa;
  color: white;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1rem;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.media .wrapper a:hover .caption {
  visibility: visible;
  opacity: 1;
}

.tc-page .wrapper h3 {
  font-size: 2.2rem;
  color: #222;
  margin-bottom: 2rem;
}

.tc-page .wrapper table {
  width: 100%;
  border-collapse: collapse;
}

.tc-page .wrapper table th, .tc-page .wrapper table td {
  font-size: 1.6rem;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 0.8rem;
}

.tc-page .wrapper table thead {
  background-color: #eee;
}

.tc-page .wrapper table svg {
  height: 3rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.tc-page .wrapper table svg .svg-arrow {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.tc-page .wrapper table svg:hover .svg-arrow {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}


.fac .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fac .wrapper .content {
  font-size: 1.6rem;
  color: #555;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.fac .wrapper .content h3 {
  font-size: 2.2rem;
  color: #222;
  margin-bottom: 1rem;
}

.fac .wrapper .content ol li {
  margin-left: 1.8rem;
  font-size: 1.6rem;
  color: #555;
  margin-bottom: 0.5rem;
}

.fac .wrapper .content ol li:first-child {
  margin-top: 0.8rem;
}

.fac .wrapper .content ol li:last-child {
  margin-bottom: 1.5rem;
}

.fac .wrapper img {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  background-color: #eee;
  height: 30rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: 3rem;
}

.fac:nth-of-type(even) .wrapper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.fac:nth-of-type(even) .wrapper img {
  margin-left: 0;
  margin-right: 3rem;
}

.contact2{
  background: none !important;
}
.contact2::after{
  background: none !important;
}
.contact2 .wrapper h2 {
  color: black;
}

.contact2 .wrapper h2:after {
  background-color: #000000aa;
}

.contact2 .wrapper .content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact2 .wrapper .content form {
  margin-top: 0;
  -ms-flex-preferred-size: 43%;
      flex-basis: 43%;
}

.contact2 .wrapper .content form .form-group input, .contact2 .wrapper .content form .form-group textarea {
  width: 100%;
  color: black;
  border-bottom: 1px solid black;
}

.contact2 .wrapper .content form .form-group label {
  color: #222;
}

.contact2 .wrapper .content form .remarker {
  margin-bottom: 0;
}

.contact2 .wrapper .content .social2 {
  background-color: var(--blue);
  padding: 4rem 3rem;
  -ms-flex-preferred-size: 44%;
      flex-basis: 44%;
}

.contact2 .wrapper .content .social2 .flexer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact2 .wrapper .content .social2 .flexer .address {
  margin-bottom: 3.5rem;
}

.contact2 .wrapper .content .social2 .flexer .footer-contact {
  margin-bottom: 7rem;
}

.contact2 .wrapper .content .social2 .ss2 {
  margin-bottom: 3rem;
}

.contact2 .wrapper .content .social2 .ss2 svg {
  height: 2.2rem;
  margin-right: 0.5rem;
  fill: white;
}

.contact2 .wrapper .content .social2 .ss2 .footer-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.8rem;
}

.contact2 .wrapper .content .social2 .ss2 .footer-head h4 {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: white;
}

.contact2 .wrapper .content .social2 .ss2 p {
  color: white;
}

.privacy .wrapper h2 {
  font-size: 3rem;
  margin: 2.5rem 0 1.5rem;
  color: #222;
}

.privacy .wrapper ul {
  margin-left: 2rem;
}

.privacy .wrapper ul li {
  color: #555;
  font-size: 1.6rem;
}

.all-news .wrapper {
  border: 1px solid #aaa;
}

.all-news .wrapper .news-txt {
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
}
.all-news .wrapper .news-txt svg{
  height: 2.5rem;
  padding: 0 2rem;
}
.all-news .wrapper .news-txt .txt{
  flex:1;
}
.new-tag{
  margin-left: 2rem;
  padding: 2px 5px;
  font-size: 1.2rem;
  background-color: #d00000;
  color: white;
}
.new-tag-text{
  margin-left: 2rem;
  font-size: 1.2rem;
  color: #d00000;
  font-weight: 800;
  padding:0 0.3rem;
  border: 0.1rem solid #d00000;
}

.all-news .wrapper .news-txt .svg-arrow {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.all-news .wrapper .news-txt svg:hover .svg-arrow {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}


.all-news .wrapper .news-txt a {
  display: inline-block;
  color: black;
  text-decoration: none;
  margin-bottom: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.all-news .wrapper .news-txt a:hover {
  -webkit-text-decoration: underline #666;
          text-decoration: underline #666;
}

.all-news .wrapper .news-txt small {
  font-size: 1.4rem;
  color: #555;
}

.all-news .wrapper .news-txt:nth-of-type(odd) {
  background-color: #f6f6f6;
}

.back-link {
  display: inline-block;
  margin: 3rem 0 0 5%;
  color: #222;
  padding: 1rem 2rem;
  border: 1px solid #555;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.back-link:hover {
  padding: 1rem 2rem 1rem 1rem;
}

.projects-list .wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.projects-list .project{
  flex-basis: 49%;
  padding:2rem;
  display: flex;
  align-items: flex-start;
  background-color: #eee;
  margin-bottom: 20px;
  color: black;
  transition: 0.3s;
  text-decoration: none;
}
.projects-list .wrapper .project:hover{
 background-color: #e0e0e0;
}
.projects-list .project img{
  height: 10rem;
  width: 10rem;
  object-fit: contain !important;
  object-position: top !important;
  margin-right: 1.5rem;
}
.projects-list .project h3{
  font-size: 2rem;
}
.projects-list .project p{
  font-size: 1.6rem;
  margin: 0.5rem 0 0.2rem;
}

.project-main{
  padding-top: 3rem;
}
.project-main main{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.project-main main article{
  flex-basis: 65%;
}
.project-main main aside strong{
  display: block;
  padding: 0 2rem;
  margin: 10px 0;
  font-size: 1.6rem;
}
.project-main main aside{
  flex-basis: 33%;
  background-color: #eee;
  position: sticky;
  top: 100px;
}
.project-main aside a{
  text-decoration: none;
  color: black;
  display: block;
  display: flex;
  align-items: flex-start;
  padding: 1rem 2rem;
  border-bottom: 1px solid #aaa;
  transition: 0.3s;
}
.project-main aside a:hover{
  background-color: #ddd;
}
.project-main aside a img{
  height: 6rem;
  width: 6rem;
  margin-right: 1rem;
  object-fit: contain !important;
}
.project-main aside a p{
  padding-top: 5px;
  font-size: 1.6rem;
}

.project-main h1{
  font-size: 2.5rem;
  margin: 2rem 0 0.5rem;
}
.project-main small{
  font-size: 1.4rem;
  color: #555;
  font-style: italic;
}
.project-main img.proj-img{
  height: 30rem;
  width: 100%;
  background-color: #eeeeee66;
  object-fit: contain !important;
  margin: 0 0 0.8rem;
}
.project-main p.proj-descr{
  color: #222;
  margin-top: 1rem;
  margin-bottom: 3rem;
  width: 700px;
  font-size: 1.8rem;
  font-weight: 500;
}
.project-main .wrapper a.back-link{
  margin: 0;
}

.all-ach .wrapper img{
  height: 100%;
  width: 100%;
  object-fit: contain !important;
}






@media (max-width: 780px) {
  p.subheader-txt {
    color: white;
    width: 70%;
  }
  .logo-bar .wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .logo-bar .wrapper .address-bar {
    display: none;
  }
  .floater {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .floater .left .ach {
    padding: 4rem 5%;
  }
  .floater .left marquee {
    margin-right: 0;
  }
  .floater .left .features {
    padding: 4rem 5%;
  }
  .floater .left .features .features-container .feature {
    -ms-flex-preferred-size: 29%;
        flex-basis: 29%;
  }
  .floater .left .gallery {
    padding: 4rem 5%;
  }
  .floater aside {
    position: static;
    margin: 0 5%;
    margin-top: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .floater aside .news {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
  }
  .floater aside .notice {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
    margin: 0;
  }
  .floater aside .tc {
    display: inline-block;
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    margin-top: 2rem;
  }
  footer .ufooter {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .ufooter .emblem {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
    margin-bottom: 3rem;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  footer .ufooter .info {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  footer .ufooter .newsletter {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .intro .wrapper .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro .wrapper .content img {
    margin-bottom: 2rem;
  }
  .intro .wrapper .content .txt {
    margin-left: 0;
  }
  .pmv .wrapper .card {
    -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
  }
  .pmv .wrapper .mission {
    margin-bottom: 2rem;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 59%;
  }
  .sm-show {
    display: initial;
  }
  .sm-hide {
    display: none;
  }
  nav {
    top: 69px;
  }
  nav .wrapper {
    width: 100%;
    padding-left: 5%;
    overflow-x: auto;
  }
  nav .wrapper .left-links {
    display: none;
  }
  nav .wrapper .scroll-logo-link, nav .wrapper .scroll-logo {
    display: none;
  }
  nav .wrapper::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 5rem;
    pointer-events: none;
    background: -webkit-gradient(linear, right top, left top, color-stop(2%, rgba(255, 255, 255, 0.4)), color-stop(85%, rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(to left, rgba(255, 255, 255, 0.4) 2%, rgba(255, 255, 255, 0.1) 85%, rgba(255, 255, 255, 0));
  }
  nav .wrapper .menu li {
    margin-right: 3rem;
  }
  nav .wrapper .menu li:last-child {
    margin-right: 6rem;
  }
  nav ::-webkit-scrollbar {
    height: 1rem;
    opacity: 0.5;
  }
  nav ::-webkit-scrollbar-track {
    background: #eeeeee88;
  }
  nav ::-webkit-scrollbar-thumb {
    background: #ccccccaa;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  nav ::-webkit-scrollbar-thumb:hover {
    background: #aaa;
  }
  .hero {
    height: calc(100vh - 69px);
  }
  nav.fixed {
    position: fixed !important;
    top: 69px;
    left: 0;
    width: 100%;
    background-color: #075dadee;
    padding: 1rem 0;
    -webkit-transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.745);
    transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.745);
  }
  .logo-bar.fix-bar {
    background-color: white;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 30;
    -webkit-transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.745);
    transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.745);
  }
  .courses .wrapper {
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .courses .wrapper .course {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 5rem;
    -webkit-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
    -webkit-animation-delay: 0s !important;
            animation-delay: 0s !important;
  }
  .courses .wrapper .course p {
    font-size: 1.8rem;
  }
  .floater {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .floater .left .features .features-container .feature {
    -ms-flex-preferred-size: 44%;
        flex-basis: 44%;
  }
  .vid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .vid .vid-container {
    margin-bottom: 3rem;
    height: 30rem;
  }
  .vid a.mag-container {
    min-height: 30rem;
  }
  
  .founder .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .founder .wrapper .founder-img {
    text-align: left;
    margin-bottom: 2rem;
  }
  .founder .wrapper .founder-img img {
    width: 15rem;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .quality {
    background-color: #f8f8f8;
  }
  .quality .wrapper .qps .qp {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .admission .wrapper .reg-adm .reg {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 2rem;
  }
  .admission .wrapper .reg-adm .adm {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .admission .wrapper .tbl table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
  .tc-page table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
  .fac{
    padding-bottom: 0;
  }
  .fac.coun{
    padding-bottom: 4rem !important;
  }
  .fac .wrapper {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
            overflow: hidden;
  }
  .fac .wrapper img {
    margin: 1.5rem 0 !important;
    -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
    width: 100%;
    background-color: transparent;height: auto;
  }
  .fac.lib .wrapper img, .fac.lab .wrapper img{
    max-height: 25rem;
  }
  .contact2 .wrapper {
    width: 90%;
  }
  .contact2 .wrapper .content form {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .contact2 .wrapper .content form .form-group {
    width: 100%;
  }
  .contact2 .wrapper .content form .form-group input, .contact2 .wrapper .content form .form-group textarea {
    width: 100%;
  }
  .contact2 .wrapper .content form .remarker {
    margin-bottom: 0;
  }
  .social2 {
    display: none;
  }

  .projects-list .project{
    flex-basis: 100%;
  }
  .project-main img.proj-img{
    height: 20rem;
  }
  .project-main p.proj-descr{
    width: 400px;
  }



}

@media (max-width: 480px) {
  html {
    font-size: 50%;
  }
  p.subheader-txt {
    width: 100%;
  }
  nav ::-webkit-scrollbar {
    display: none;
  }
  nav {
    top: 59px;
  }
  nav.fixed {
    top: 59px;
  }
  .hero {
    height: calc(100vh - 59px);
  }
  .hero .hero-content {
    text-align: center;
  }
  .hero .hero-content p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .floater {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .floater .left .features .features-container .feature {
    -ms-flex-preferred-size: 44%;
        flex-basis: 44%;
    margin: 0 1rem 4rem;
  }
  .floater .left .features .features-container .feature:nth-of-type(even) {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .floater .left .gallery .imgs .top-imgs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .floater .left .gallery .imgs .top-imgs a {
    margin: 0 0 2rem 0;
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
  .floater .left .gallery .imgs .top-imgs a:last-child {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .floater .left .gallery .imgs .bottom-imgs {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 0;
  }
  .floater .left .gallery .imgs .bottom-imgs a {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
  .floater .left .gallery .imgs .bottom-imgs a.landscape {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
  .floater aside .news, .floater aside .notice {
    padding: 2rem;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .floater aside .news ol li, .floater aside .news ol li a, .floater aside .notice ol li, .floater aside .notice ol li a {
    font-size: 1.6rem;
  }
  .floater aside .notice {
    margin-top: 2rem;
  }
  .floater aside .tc-container, .floater aside a.tc {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    display: block;
    width: 100%;
  }
  .vid .vid-container {
    height: 25rem;
  }
  .vid a.mag-container {
    min-height: 25rem;
  }
  .tstms .wrapper {
    width: 100%;
  }
  .tstms .wrapper h2 {
    margin-left: 5%;
  }
  .tstms .wrapper .subhead {
    margin-left: 5%;
  }
  .tstms .wrapper .tstm-container .owl-stage {
    padding-left: 0px !important;
  }
  .tstms .wrapper .tstm-container .owl-nav {
    display: none;
  }
  .contact .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .content form {
    margin-bottom: 5rem;
    width: 100%;
  }
  .contact .content form .form-group {
    width: 100%;
  }
  .contact .content form .form-group input, .contact .content form .form-group textarea {
    width: 100%;
  }
  .contact .content form .remarker {
    margin-bottom: 0;
  }
  .contact .content .map-social {
    width: 100%;
  }
  footer .ufooter {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .ufooter .emblem {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 3rem;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  footer .ufooter .info {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  footer .ufooter .newsletter {
    margin-top: 3rem;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  footer .ufooter .newsletter .sign-up form .field input {
    font-size: 1.8rem;
  }
  footer .ufooter .newsletter .quick-links {
    margin-top: 3rem;
  }
  footer .ufooter .newsletter .quick-links .footer-head {
    margin-bottom: 2rem;
  }
  footer .lfooter {
    padding: 2rem 5%;
  }
  footer .lfooter .powered {
    margin-top: 2rem;
  }
  .intro .wrapper .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro .wrapper .content img {
    width: 100%;
  }
  .media .wrapper, .album .wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .media .wrapper a, .album .wrapper a {
    margin: 0;
    margin-bottom: 2rem;
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }

  .project-main img.proj-img{
    height: 300px;
    width: 300px;
  }
  .project-main p.proj-descr{
    width: 100% !important;
  }



}
/*# sourceMappingURL=style.css.map */